{% extends "tickets/base.html" %}

{% block content %}
<h2 class='center'>Name Change</h2>
{% if form.errors %}
<p class='center err'>Please double check that all inputs are filled in correctly.</p>
{% endif %}

<form method="post" action="{% url "name" pk=pk %}">
{% csrf_token %}
<div class='piece'>
<div class='label'>New ticket {{ form.first_name.label_tag }}</div>
{{ form.first_name }}
</div>
<div class='piece'>
<div class='label'>New ticket {{ form.last_name.label_tag }}</div>
{{ form.last_name }}
</div>
<div class='piece'>
<div class='label'>New ticket {{ form.crsid.label_tag }} <em>(current university members only)</em></div>
{{ form.crsid }}
</div>
<div class='piece'>
<div class='label'>{{ form.diet.label_tag }} <em>(if applicable)</em></div>
{{ form.diet }}
</div>
<div class='piece'>
<div class='label'>{{ form.access.label_tag }} <em>(if applicable)</em></div>
{{ form.access }}
</div>
<div class='piece'>
<input type="submit" value="Change Name"/>
</div>
<input type="hidden" name="next" value="{{ next }}"/>
</form>

{% endblock %}